.layout {
  min-height: 100vh;
  background: #f3f4f6;
}

app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  z-index: 30;
  display: block;
}

.main {
  margin-left: 260px;
  width: calc(100% - 260px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 25px;
  flex: 1;
  background: #f3f4f6;
}