<div class="sidebar">

  <div class="logo">
    <span class="dot"></span>
    <h3>CrediGuard</h3>
  </div>

  <nav>

    <a routerLink="/admin/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>

    <a routerLink="/admin/users" routerLinkActive="active">
      <mat-icon>group</mat-icon>
      Users
    </a>

    <a routerLink="/admin/security" routerLinkActive="active-link" class="menu-item">
  <span>Security</span>
</a>
<a routerLink="/admin/ecommerce" routerLinkActive="active-link" class="menu-item">
  <span>E-Commerce</span>
</a>

<a routerLink="/admin/finance" routerLinkActive="active-link" class="menu-item">
  <span>Finance</span>
</a>

<a routerLink="/admin/credit" routerLinkActive="active-link" class="menu-item">
  <span>Credit</span>
</a>

<a routerLink="/admin/partners-insurance" routerLinkActive="active-link" class="menu-item">
  <span>Partners & Insurance</span>
</a>
<a routerLink="/admin/partners-insurance/policies" routerLinkActive="active-link" class="menu-item">
  <span>Policies</span>
</a>



<a routerLink="/admin/crowdfunding" routerLinkActive="active-link" class="menu-item">
  <span>Crowdfunding</span>
</a>

<a routerLink="/admin/events" routerLinkActive="active-link" class="menu-item">
  <span>Events</span>
</a>

  </nav>

</div>