.topbar {
  height: 70px;
  background: white;
  border-bottom: 1px solid #eee;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}